{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  <a href="/logout/">Logout</a>
  {{ user }}
{% else %}
  <a href="/login/">Login</a>
{% endif %}

<table id="grid" contenteditable="true">
  <thead>
    <tr>
      {% for i in '12345678' %}
      <th>{{ i }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for course in courses %}
    <tr>
      {% for c in course %}
      <td>
	<p class="cod">{{ c.code }}</p>
	<p class="name">{{ c.name }}</p>
	<p class="pre">{{ c.prerequisite }}</p>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

  <footer>
    foot
  </footer>
{% endblock %}
