<!DOCTYPE html>
<html>
  <head>
    <title>Grade BCC - UFPR</title>
    <link href="{{ MEDIA_URL }}css/tabs.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/base.css" rel="stylesheet">
    <script type="text/javascript" src="{{ MEDIA_URL}}js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/core.js"></script>
  </head>

  <body>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    <div class="clear"></div>
    <footer>ylex ::: blacktomato.hd1.com.br</footer>
  </body>
</html>
